@model UserViewModel
@{ViewBag.Title = Model.User.id == default ? "Создание" : "Редактирование"; }

<h3>@ViewBag.Title сотрудника</h3>

<div>
    <form method="post">
        <input type="hidden" asp-for="User.id" />

        <div class="form-group">
            <label asp-for="User.UserName"></label>
            <div>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="User.Phone"></label>
            <div>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-center">
            <input asp-action="Edit" class="btn btn-success btn-custom" type="submit" value="Сохранить" />

            @if (Model.User.id != default)
            {
                <input asp-action="Delete" class="btn btn-danger btn-custom" type="submit" value="Удалить" />
            }
            <input asp-controller="User" asp-action="List" class="btn btn-info btn-custom" type="submit" value="Отмена" />
        </p>
    </form>
</div>




