@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav px-3">
@if (SignInManager.IsSignedIn(User))
{
     
    <li class="nav-item text-nowrap">
        <div>
            <label class="text-white-50 pr-3">Здравствуйте, @User.Identity.Name!</label><a class="btn btn-danger btn-sm btn-login" href="/Account/Logout">Выход</a>
        </div>
    </li> 
}
else
{
    <li class="nav-item text-nowrap">
        <a class="btn btn-success btn-sm btn-login" href="/Account/Login">Вход</a>
    </li>
}
</ul>
