@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav px-3">
@if (SignInManager.IsSignedIn(User))
{
     
    <li class="nav-item text-nowrap text-white-50">
        <div>
            <a class="nav-link" href="/Account/Logout">Здравствуйте, @User.Identity.Name! Выход</a>
        </div>
    </li> 
}
else
{
    <li class="nav-item text-nowrap">
        <a class="nav-link" href="/Account/Login">Вход</a>
    </li>
}
</ul>
